#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed

%:
	dh $@ --parallel --with kde

override_dh_install:
	dh_install --list-missing

override_dh_strip:
	dh_strip --dbgsym-migration='kdesvn-dbg (<< 1.7.0-2~)'

# not passing, requiring network
.PHONY: override_dh_auto_test
